[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpy = "*"
black = "*"
flake8 = "*"
tqdm = "*"
matplotlib = "*"
jupyter = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
